@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

a {
	outline: 0;
	color:black;
}

body {
	height: 100vh; }
}

/* Mobile Layout: 480px and below. */

/* WEB FONTS */

@font-face {
    font-family: 'lyonregular';
    src: url('lyon_roman_macroman/Lyon-Roman-webfont.eot');
    src: url('lyon_roman_macroman/Lyon-Roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('lyon_roman_macroman/Lyon-Roman-webfont.woff2') format('woff2'),
         url('lyon_roman_macroman/Lyon-Roman-webfont.woff') format('woff'),
         url('lyon_roman_macroman/Lyon-Roman-webfont.ttf') format('truetype'),
         url('lyon_roman_macroman/Lyon-Roman-webfont.svg#lyonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lyonbold';
    src: url('lyon_bold_macroman/Lyon-Bold-webfont.eot');
    src: url('lyon_bold_macroman/Lyon-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('lyon_bold_macroman/Lyon-Bold-webfont.woff2') format('woff2'),
         url('lyon_bold_macroman/Lyon-Bold-webfont.woff') format('woff'),
         url('lyon_bold_macroman/Lyon-Bold-webfont.ttf') format('truetype'),
         url('lyon_bold_macroman/Lyon-Bold-webfont.svg#lyonbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lyonitalic';
    src: url('lyon_italic_macroman/Lyon-Italic-webfont.eot');
    src: url('lyon_italic_macroman/Lyon-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('lyon_italic_macroman/Lyon-Italic-webfont.woff2') format('woff2'),
         url('lyon_italic_macroman/Lyon-Italic-webfont.woff') format('woff'),
         url('lyon_italic_macroman/Lyon-Italic-webfont.ttf') format('truetype'),
         url('lyon_italic_macroman/Lyon-Italic-webfont.svg#lyonitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Lyon Display Web';
  src: url('lyon_display_medium/LyonDisplay-Medium-Web.eot');
  src: url('lyon_display_medium/LyonDisplay-Medium-Web.eot?#iefix') format('embedded-opentype'),
     url('lyon_display_medium/LyonDisplay-Medium-Web.woff') format('woff'),
     url('lyon_display_medium/LyonDisplay-Medium-Web.ttf') format('truetype'),
     url('lyon_display_medium/LyonDisplay-Medium-Web.svg#Lyon Display Web') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

.LyonDisplay-Medium-Web {
  font-family: 'Lyon Display Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


/* SCALING EFFECT */

.scaling{
    float: left;
    -webkit-animation-name: scalex;
    -webkit-animation-duration:5s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:5s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.85);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.85);}    
    }
        
    @-moz-keyframes scale{
        from {-moz-transform: scale(0.85);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.85);}    
    }
	
	
/* NAVIGATION OVERLAY */

.overlay, .mobile-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgb(252, 70, 0);
}
.overlay-close {
	width: 90px;
	height: 90px;
	position: absolute;
	right: 10px;
	top: 10px;
	overflow: hidden;
	border: none;
	background: url(../images/accd_close_desktop.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
	cursor:pointer;
}

.mobile-overlay-close {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 16px;
	top: 18px;
	overflow: hidden;
	border: none;
	background: url(../images/accd_close_mobile.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
} 

.overlay-data {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	-moz-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay-open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.subNavCol {
	text-align: center;
	width: 100% !important; 
	margin-top:80px;
}

.subNavCol h2 {
	font-family:"Neue Haas Grotesk W01";
	font-size:22px;
	line-height:25px;
	font-weight:normal;
	margin:0px;
	margin-bottom:0.25em;
	text-decoration:underline;
	color:#fff;
}

.subNavCol h3 {
	font-family: 'lyonregular';
	font-size:18px;
	font-weight:normal;
	margin:0px;
	color:#fff;
}

.subNavCol a {
	color:#fff;
	text-decoration:none;
}

.subNavCol a:hover {
	text-decoration:underline;
}


/* ACCORDION */

/*----- Accordion -----*/
.accordion, .accordion * {
  /*  -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box; */
}
 
.accordion {
    width:100%;
	overflow:hidden;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:10px 0px;
    display:inline-block;
    border-top:1px solid #000;
    transition:all linear 0.15s;
    /* Type */
	font-family:"Neue Haas Grotesk W01";
    line-height: 20px;
    font-size: 18px;
    color:#000;
	text-decoration:none;
}

.accordion-section-title.active, .accordion-section-title:hover {
    /* Type */
    text-decoration:none;
	color:#000;
	outline: 0;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
	width:100%;
	margin:auto;
	margin-top:24px;
	font-family: 'lyonregular';
	font-size: 18px;
	line-height: 22px;
    /* padding:15px; */
    display:none;
}

.accordion-section-content a {
	font-family:"Neue Haas Grotesk W01";
    text-decoration:underline;
	color:#666;
	font-size:16px;
}

.accordion-section-content h3 {
	font-family:"Neue Haas Grotesk W01";
    line-height: 24px;
    font-size: 18px;
}
.accordion-section-content h4 {
	font-family: 'lyonregular';
	font-size: 18px;
	font-weight:bold;
	margin-bottom:0px;
}



/* MASONRY */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ---- grid ---- */

.grid {
  max-width: 1150px;
  /* center */
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 260px;
  /* height: 175px; */
  float: left;
  background: #999;
  /* border: 1px solid #333; */
  overflow:hidden;
  /* border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px; */
  margin-bottom: 25px;
  -webkit-box-shadow: 7px 7px 30px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: 7px 7px 30px 2px rgba(0,0,0,0.16);
  -o-box-shadow: 7px 7px 30px 2px rgba(0,0,0,0.16);
  box-shadow: 7px 7px 30px 2px rgba(0,0,0,0.16);
}

.grid-item a {
	border:none;
}

.grid-item-height2 { width: 340px; /* height: 390px; */ }

.grid-item-width2 { width:520px; height: 390px; }

.grid-item img {
	width:100%;
	margin:0px !important;
	display:block;
}


/* HOME PAGE */

/* Background */
.homepage .bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition:all 250ms;
  -webkit-transition:all 250ms;
  -moz-transition:all 250ms;
  -o-transition:all 250ms;
  pointer-events: none;
}

.homepage ul {
  margin:0px;
  padding:0px;
}

.homepage li {  
  margin:0px;
  padding:0px;
  list-style:none;
  text-align:center;
  transition:all 500ms;
  -webkit-transition:all 500ms;
  -moz-transition:all 500ms;
  -o-transition:all 500ms;

  
}

.homepage li a { 
  text-align:center;
  font-family:"Neue Haas Grotesk W01 Disp";
  font-weight:normal;
  font-size: 6.8vh;
  line-height:7.0vh;
  color:#000;
  text-decoration:none;
  -webkit-transition:all 500ms;
  -moz-transition:all 500ms;
  transition:all 500ms;
}

.homepage li a:hover  {
  margin:-10px 0 0 0;
  font-size:7.1vh;
  color:#303030;
  line-height:7.0vh;
  -webkit-transition:all 500ms;
  -moz-transition:all 500ms;
  transition:all 500ms;

}

.homepage .menu {  
   margin:20px auto 0 auto;
   overflow:hidden;
}
       
/* List items that change background colors on hover */


.homepage .menu li:first-child:hover ~ .bg {
  background: #FFFEEA;
  
}
.homepage .menu li:nth-child(2):hover ~ .bg {
  background: #39fcbb;
}
.homepage .menu li:nth-child(3):hover ~ .bg {
  background: #fff;
}
.homepage .menu li:nth-child(4):hover ~ .bg {
  background: #c7c9cb;
}
.homepage .menu li:nth-child(5):hover ~ .bg {
  background:  #338fff ;
  
}
.homepage .menu li:nth-child(6):hover ~ .bg {
  background: #ffd800  ;
  
}
.homepage .menu li:nth-child(7):hover ~ .bg {
  background: #16a842;
  }
    


/* PAGE BACKGROUNDS */

.styleGuide {
	background-color: #ffd800 !important;
    background-image: none !important;
}

.use {
	background-color: #c7c9cb !important;
    background-image: none !important;
}

.history {
	background-color: #39fcbb !important;
    background-image: none !important;
}

.contact {
	background-color: #16a842 !important;
    background-image: none !important;
}

.identity {
	background-color:#FFFEEA !important;
	background-image: none !important;
}

.downloads {
	background-color: #338fff !important;
    background-image: none !important;
}

.index, .guidelines {
	background-color: #fff !important;
    background-image: none !important;
}




/* MOBILE LAYOUT */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	padding-bottom:24px;
}

.mobile-image {
	display:block !important;
	margin:auto;
	margin-top:1.5em;
	margin-bottom: 1.5em;
	text-align:center;
	font-family: 'lyonregular';
	font-size: 16px;
	line-height: 20px;
}


/* MOBILE LOGO BLOCK */


#logoDotDesktop {
	display:none;
}

#logoType {
	display:none;
}

#logoDotMobile {
	display:block;
	position:relative;
	float:right;
	margin:12px;
	margin-right:0px;
}

#homeDot {
	text-align: center;
	padding-top: 0px;
}

#homeDot img {
	transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
}

/* MOBILE TYPE STYLES */

#homeNav {
	padding-top:20px;
}

#homeNav h1 {
	font-family:"Neue Haas Grotesk W01 Disp";
	font-weight:normal;
	font-size: 32px;
	line-height:30px;
	padding-bottom:0px;
	text-align:center;
	margin:0px;
	margin-bottom:10px;
}

#homeNav a {
	color: black;
	text-decoration: none;
}

#pageTitle {
	font-family:"Neue Haas Grotesk W01 Disp";
	font-weight:normal;
	font-size: 32px;
	line-height: 32px;
	margin-top: 10px;
	height: 105px;
}

#pageCopy {
	font-family:"Neue Haas Grotesk W01";
	font-weight:normal;
	font-size: 15px;
	line-height: 20px;
}

#pageCopy p {
  margin-top: 0.15em;
}

#pageCopy h2 {
  font-family: 'Lyon Display Web';
  font-weight:normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: underline;
  margin-top: 1.5em;
  margin-bottom:0px;
}

#pageCopy a:hover {
	color:#666;
}

#introCopy {
	font-family:"Neue Haas Grotesk W01 Disp";
	font-weight:normal;
	font-size: 22px;
	line-height: 26px;
}

#introCopy p {
  margin-top: 0.25em;
}

#projectTeam {
	font-family: 'lyonregular';
	font-size:16px; 
	line-height:20px; 
}

#projectTeam h2 {
	font-family:"Neue Haas Grotesk W01";
	font-size:15px; 
	line-height:19px; 
	text-align:left !important;
}

.hidden {
	display:none;
}

}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
	

/* TABLET LAYOUT */
	
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}

#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* TABLET TYPE STYLES */

#pageTitle {
	font-size: 32px;
}

#introCopy {
	font-size: 18px;
	line-height: 24px;
}

}



/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
	
/* DESKTOP LAYOUT */


.gridContainer {
	width: 85%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	padding-bottom:300px;
}


.mobile-image {
	display:none !important;
}

/* DESKTOP LOGO BLOCK */

#logoDotDesktop {
	display:block;
	position:fixed;
	top:20px;
	right:20px;
}

#logoType {
	display:block;
	position:fixed;
	bottom: 20px;
    right: 20px;
}

#logoDotMobile {
	display:none;
}



/* ACCORDION */

/*----- Accordion -----*/
 
/*----- Section Titles -----*/
.accordion-section-title {
    padding:5px 0px;
    /* Type */
	line-height: 36px;
    font-size: 28px;

}

.accordion-section-title.active, .accordion-section-title:hover {
    /* Type */
    text-decoration:none;
	color:#000;
	outline: 0;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
	width:90%;
	margin:auto;
	margin-top:20px;
	margin-bottom:25px;
	font-family: 'lyonregular';
	font-size: 21px;
	line-height: 27px;
    /* padding:15px; */
}

.accordion-section-content a {
	font-size:18px;
}


/* DESKTOP SUB NAV STYLES */

.subNavCol {
	float: right;
	text-align:left;
	width: 300px !important;
	margin-top:120px;
}

.subNavCol h2 {
	font-size:24px;
	margin-top:1em;
	margin-bottom:0.1em;
}



/* DESKTOP TYPE STYLES */


.homepage li a { 
  
  font-size: 11vh;
  line-height:11.2vh;
  
}

.homepage li a:hover  {
  margin:-10px 0 0 0;
  font-size:11.3vh;
  line-height:11.2vh;
  

}




#homeNav {
	padding-top:15px;
	padding-bottom:15px;
}

#homeNav h1 {
	font-size: 90px;
	line-height: 100px;
}

#homeDot {
	text-align: center;
	padding-top: 20px;
	padding-bottom:60px;
}

#homeDot img {
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
}

#pageTitle {
	font-size: 80px;
	line-height: 80px;
	margin-top: 12px;
	height: 250px;
}

#introCopy {
	font-size: 38px;
	line-height: 44px;
}

#pageCopy {
	font-size: 28px;
	line-height: 34px;
}

#pageCopy img {
	margin-bottom:20px;
	margin-top:20px;
}

.desktopFloat {
	float:left;
}

#pageCopy h2 {
  font-size: 32px;
  line-height: 38px;
  
}

#projectTeam {
	font-size:18px; 
	line-height:21px; 
}

#projectTeam p {
	margin-top:0px;
}

#projectTeam h2 {
	font-family:"Neue Haas Grotesk W01";
	font-size:16px; 
	line-height:20px; 
	text-align:left !important;
}

.wide1 {
	width:545px;
	height:344px;
}
.wide2 {
	width:545px;
	height:380px;
}
.wide3 {
	width:545px;
	height:409px;
}
.wide4 {
	width:545px;
	height:350px;
}
.wide5 {
	width:545px;
	height:225px;
}

.hidden {
	display:block;
}

}